<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h3 class="text-center mb-3">Wallet</h3>
        <%- messages('express-messages', locals) %>
            <form action="/dashboard" method="POST"> 
                <div class="form-group">
                    <label for="cash">Cash</label>
                    <input
                    type="cash"
                    id="cash"
                    name="cash"
                    class="form-control"
                    value="<%= cash %>"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Done</button>
            </form>
        </div>
    </div>
</div>